/* Imports */
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap');

/* Variables */
:root {
    /* Color palette */
    /* Light mode */
    --c-lm-very-dark-blue: hsl(200, 15%, 8%);
    --c-lm-dark-gray: hsl(0, 0%, 52%);
    --c-lm-very-light-gray: hsl(0, 0%, 98%);

    /* Dark mode */
    --c-dm-dark-blue: hsl(209, 23%, 22%);
    --c-dm-very-dark-blue-bgc: hsl(207, 26%, 17%);
    
    /* Other colors */
    --c-box-shadow: hsla(210, 75%, 27%, 0.1);
    --c-white: hsl(0, 0%, 100%);

    /* Typography */
    --ff-primary-font: 'Nunito Sans', sans-serif;

    --fs-homepage-items: 14px;
    --fs-details-page: 16px;

    --fw-300: 300;
    --fw-600: 600;
    --fw-800: 800;

    --fs-atributtion: 0.6875rem;
    --c-link-color: hsl(228, 45%, 44%);

    font-size: var(--fs-homepage-items);
}

/* Reusable Code */
@mixin flexContainer($direction, $align, $justify, $gap) {
    display: flex;
    flex-direction: $direction;
    align-items: $align;
    justify-content: $justify;
    gap: $gap;
}

/* Mobile 320px */
/* Base */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--ff-primary-font);
    background-color: var(--c-lm-very-light-gray);
}

a {
    text-decoration: none;
}

button {
    border: none;
    background: none;


    &:hover {
        cursor: pointer;
    }
}


/* Layout */
.App {

}

/* Modules */
@import "./Header";
@import "./Content";
@import "./SearchBar";
@import "./Filter";
@import "./Country";